---
interface Props {
  entries: {
    name: string;
    link: string;
  }[];
}
const currentPath = Astro.url.pathname;
const { entries } = Astro.props;
---

<nav>
  <ul>
    <li><strong>Hass Blocks</strong></li>
  </ul>

  <ul>
    {
      entries.map((entry) => (
        <li>
          <a
            href={entry.link}
            class:list={[
              currentPath === entry.link ? 'current' : '',
              'navigation-link',
            ]}
          >
            {entry.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
