---
interface Props {
  entries: {
    name: string;
    link: string;
  }[];
}
const currentPath = Astro.url.pathname;
const { entries } = Astro.props;
---

<style>
  nav {
    display: flex;
  }

  nav li {
    list-style: none;
    margin: 0 1rem;
  }

  nav ul {
    display: flex;
  }

  nav .brand {
    flex-grow: 2;
  }
</style>

<nav>
  <div class="brand">
    <a href="/">Hass Blocks</a>
  </div>
  <ul>
    {
      entries.map((entry) => (
        <li>
          <a
            href={entry.link}
            class:list={[
              currentPath === entry.link ? 'current' : '',
              'navigation-link',
            ]}
          >
            {entry.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
