---
import BaseLayout from '../layouts/base-layout.astro';
import { getUnscopedPackageName } from '../lib/doc-model/get-unscoped-package-name';
import { loadModels } from '../lib/doc-model/load-models';
import { modelsPath } from '../lib/doc-model/models-path';

const { packages: apiPackages } = await loadModels(modelsPath);

const packages = apiPackages.map((apiPackage) =>
  getUnscopedPackageName(apiPackage),
);
---

<BaseLayout>
  <ul>
    {
      packages.map((item) => (
        <li>
          <a href={`api-docs/package/${item}`}>{item}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
