---
import { BaseLayout } from '@layouts';
---

<BaseLayout>
  <h2>Welcome</h2>
  <p>
    Welcome to Hass Blocks - a declarative framework for writing Home Assistant
    automations. Click on the links above to learn more about the project or to
    learn how to get started
  </p>
</BaseLayout>
