---
const pageTitle = "Home Page";
---
<style>
    body {
        padding: 1rem;
    }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
    >
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
        <h1>{pageTitle}</h1>
    </header>
    <main>
        <slot />
    </main>
  </body>
</html>