---
import { NavBar } from '@components';

const pageTitle = 'Hass Blocks';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css"
      type="text/css"
    />

    <style>
      body {
        max-width: 55em;
      }
    </style>

    <title>{pageTitle}</title>
  </head>
  <body>
    <header class="container">
      <NavBar
        entries={[
          {
            name: 'Home',
            link: '/',
          },
          {
            name: 'About',
            link: '/about',
          },
          {
            name: 'Getting Started',
            link: '/getting-started',
          },
          {
            name: 'Documentation',
            link: '/api-docs',
          },
        ]}
      />
    </header>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
