---
import type { InterfaceArgs } from '@types';
import { PropertiesTable } from '../properties-table';
import { MethodsList } from '@components';

interface Props {
  members: InterfaceArgs['members'];
}

const { members } = Astro.props;

const properties = members.filter((member) => 'type' in member);
const methods = members.filter((member) => 'returnValue' in member);
---

<style>
  .type {
    text-align: center;
  }
</style>

<h2>Test</h2>
{members.length}
{
  properties.length > 0 && (
    <>
      <h3>Properties</h3>
      <PropertiesTable {properties} />
    </>
  )
}
{methods.length > 0 && <MethodsList {methods} />}
