---
import type { ApiItemKind } from '@microsoft/api-extractor-model'

interface Member {
    name: string
    kind: ApiItemKind
    description: string
}

interface Props {
    kind: ApiItemKind
    members: Member[]
}


const { kind,  members } = Astro.props
const filteredMembers = members.filter(member => member.kind === kind)
---

{filteredMembers.length > 0 &&<>
<h3>{kind}</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {filteredMembers.map(member =>
    <tr>
        <td>{member.name}</td>
        <td>{member.description}</td>
    </tr>)}
  </tbody>
</table>
</>}

