---
import { BaseLayout } from '@layouts';
---

<BaseLayout>
  <h2 id="getting-started">Getting Started</h2>
  <ol>
    <li>
      <a href="./getting-started/installing-and-bootstrapping"
        >Installing and bootstrappping</a
      >
    </li>
    <li>
      <a href="./getting-started/the-fundamentals">The fundamentals</a>
    </li>
  </ol>
</BaseLayout>
