---
import type { ExcerptToken } from '../../lib/doc-model/render-excerpt-tokens';

interface Props {
  excerpt: ExcerptToken[];
}

const { excerpt } = Astro.props;
---

<script>
  import hljs from 'highlight.js/lib/core';
  import typescript from 'highlight.js/lib/languages/typescript';

  hljs.registerLanguage('typescript', typescript);
  hljs.highlightAll();
</script>

<code class="language-ts">
  {
    excerpt.map((token) =>
      'url' in token ? <a href={token.url}>{token.text}</a> : token.text,
    )
  }
</code>
