---
import type { ExcerptToken } from '../../lib/doc-model/render-excerpt-tokens';
import CodeExcerpt from '../excerpt/code-excerpt.astro';

interface Param {
  name: string;
  excerptTokens: ExcerptToken[];
}

interface Props {
  params: Param[];
  returnValue: ExcerptToken[];
}

const { params, returnValue } = Astro.props;
---

{
  params.length > 0 && (
    <>
      <h3>Parameters</h3>
      <table>
        <tbody>
          {params.map((param) => (
            <tr>
              <td>{param.name}</td>
              <td>
                <CodeExcerpt client:load excerpt={param.excerptTokens} />
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </>
  )
}
<h3>Return Value</h3>
<CodeExcerpt client:load excerpt={returnValue} />
