---
import type { ExcerptToken } from '@types';
import CodeExcerpt from '../excerpt/code-excerpt.astro';

interface Param {
  name: string;
  excerptTokens: ExcerptToken[];
}

interface Props {
  params: Param[];
  returnValue: ExcerptToken[];
  signature: string;
  headingLevel: string;
}

const { params, returnValue, signature, headingLevel } = Astro.props;
const Heading = headingLevel;
---

<style>
  pre {
    padding: 1rem 0;
  }
  table {
    width: 100%;
    table-layout: fixed;
  }

  table td:first-child,
  th:first-child {
    width: 15%;
    overflow: hidden;
  }
</style>

<Heading>Signature</Heading>
<pre>
  <CodeExcerpt code={signature} />
</pre>
{
  params.length > 0 && (
    <>
      <Heading>Parameters</Heading>
      <table>
        <tbody>
          {params.map((param) => (
            <tr>
              <td>{param.name}</td>
              <td>
                <CodeExcerpt code={param.excerptTokens} />
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </>
  )
}
<Heading>Return Value</Heading>
<CodeExcerpt code={returnValue} />
